<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.itemDetails.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div ng-bind-html="vm.itemDetails.details"></div>

  <ul class="date-links" ng-if="vm.itemDetails.links.length > 0">
    <li ng-repeat="link in vm.itemDetails.links">
      <a ng-href="link.link" target="_blank">{{link.linkTitle}}</a>
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close()">Sluiten</button>
</div>