<div id="home" class="row">

  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>💖 Date kalender! 💖</h1>
      </div>
      <div class="panel-body">

        <em class="subtitle">Iedere maand een verrassing!</em>

        <ul class="dates">
          <li ng-repeat="date in vm.dates" ng-class="{'jiggle': date.isCurrent && !date.isOpen}">
            <div class="door" ng-click="vm.toggleDoor(date);" ng-class="{'open': date.isOpen}">
              {{date.month}}
            </div>
            <div class="revealed clickable" ng-click="vm.showDate(date);" ng-if="date.isOpen">
              <span ng-if="date.isCurrent && date.isOpen">❔</span>
              <span ng-if="!date.isCurrent && date.isOpen && !date.emoji">✨</span>
              <span ng-if="!date.isCurrent && date.isOpen && date.emoji">{{date.emoji}}</span>
            </div>
          </li>
        </ul>


      </div>
    </div>

  </div>

</div>