/*
https://coolors.co/a20021-ee92c2-f52f57-f79d5c-ff5154
https://apps.timwhitlock.info/emoji/tables/unicode
*/
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

body {
  font-family: "Oleo Script", cursive;
  padding: 20px 0;
  font-weight: 400;
  background: #fdf5f9;
  color: #fff;
}

#home {
  text-align: center;
}

.panel-default {
  box-shadow: 0 0 15px 0 #ccc;
}

.panel-default > .panel-heading {
  background-color: #f52f57;
  border: none;
  color: #fff;
}

.panel-default > .panel-heading h1 {
  font-size: 2.8rem;
}

.panel-default > .panel-body {
  background-color: #f52f57;
  border: none;
}

.subtitle {
  font-size: 2rem;
  color: #fdf5f9;
}

a {
  color: #a20021;
}
.btn-primary {
  background-color: #a20021;
  border-color: #760019;
}

a:hover,
a:active {
  color: #f52f57;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #f52f57;
  border-color: #df2b50;
}

ul.dates {
  margin: 0 auto 30px;
  padding: 0;
  list-style-type: none;
  max-width: 900px;
  width: 100%;
  text-align: center;
  user-select: none;
}

ul.dates li {
  font-weight: 400;
  background-color: #fdf5f9;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  color: #111;
  cursor: pointer;
  font-size: 26px;
  padding: 15px;
  margin: 25px 12px;
  width: 130px;
  height: 130px;
  line-height: 100px;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
  -moz-box-shadow: inset 0 0 5px 1px #ccc;
  -webkit-box-shadow: inset 0 0 5px 0 #ccc;
  box-shadow: inset 0 0 5px 1px #ccc;
}

ul.dates .door {
  user-select: none;
  color: #f52f57;
  font-size: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8d7e8;
  box-sizing: border-box;
  border-top: 1px #eee outset;
  border-right: 1px #eee outset;
  border-bottom: 1px #eee outset;
  border-left: 1px #eee solid;
  border-radius: 6px;
  padding: 15px;
  width: 130px;
  height: 130px;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

ul.dates .current .door {
  background-color: #7ead44;
}

ul.dates .current .door.open {
  color: #fdf5f9;
}

ul.dates .revealed {
  user-select: none;
}

ul.dates .open {
  box-shadow: 14px 0 15px -1px rgba(0, 0, 0, 0.2);
  color: #f52f57;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@media screen and (min-width: 480px) {
  li {
    margin: 25px 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: 150px;
  }

  p {
    right: 6%;
    top: 20%;
    bottom: auto;
    margin-left: auto;
    left: auto;
  }
}

.clickable {
  cursor: pointer;
}

.modal {
  color: #f52f57;
}

.modal-dialog {
  top: 10%;
}

#modal-body {
  font-family: Tahoma, Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: normal;
  color: #111;
}

.date-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.date-links li {
  padding: 0;
  margin: 0.4rem 0;
}
